*{
    background-color: burlywood;
}
H1{
    text-align: center;
}

body{
    margin: 50px;
    align-items: center;
    
}
.mb-3{
    margin-left: 500px;
}
li{
    max-width: 600px;
    margin-left: 300px;
    text-align: center;
}
